# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# Virtual environments
venv/
.venv/

# IDE
.idea/

# Temporary files
*.tmp
